<!-- mqtt_credentials.html -->
{% if form is defined %}
<form id="credentials-form" action="#" method="POST">
    {{ form.hidden_tag() }}
    <div class="modal-body">
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_="form-control") }}
        </div><br>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="form-control") }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="modal-close-button" class="btn btn-secondary" data-dismiss="modal" onclick="uncheck()">Cerrar</button>
        {{ form.submit(class_="btn btn-primary") }}
    </div>         
</form>
{% endif %}

<script> 
    function OnSubmitCredentials(e) 
    {
        e.preventDefault(); // block the traditional submission of the form.

        $.post({
            url: "/mqtt/credentials",
            data: $(this).serialize(), // serializes the form's elements.
            success: function (data) {
                alertify.success("Credenciales de MQTT actualizadas.");
            },
            error: function(data) {
                alertify.error(data.responseText);
            }
        });
    };

    function uncheck()
    {
        $("input#protected").prop("checked", false);
    };
    
    $(document).ready(function()
    {       
        var form = $("form#credentials-form")[0];
        form.onsubmit = OnSubmitCredentials;
    });
</script>
