<!-- register.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" action="" method="POST">
                <span class="login100-form-title p-b-51">
                    Registro
                </span>
                {% if form is defined %}
                {{ form.hidden_tag() }} 
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    {{ form.username(class_="input100", placeholder="Nombre de usuario") }}
                    <span class="focus-input100"></span>
                </div>
                {% for error in form.username.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% if False %}             
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Email is required">   
                    {{ form.email(class_="input100", placeholder="Email") }}  
                    <span class="focus-input100"></span>          
                </div>
                {% for error in form.email.errors %}            
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>          
                {% endfor %}
                {% endif %}
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    {{ form.password(class_="input100", placeholder="Contraseña") }}
                    <span class="focus-input100"></span>
                </div>
                {% for error in form.password.errors %}            
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>          
                {% endfor %}
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    {{ form.password2(class_="input100", placeholder="Contraseña") }}
                    <span class="focus-input100"></span>
                </div>
                {% for error in form.password2.errors %}            
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>           
                {% endfor %}
                <div class="container-login100-form-btn m-t-17">
                    {{ form.submit(class_="login100-form-btn") }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}