<!-- projects.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if projects is defined %}    
            {% for project in projects %}
            <div class="col">
                <div class="card text-white bg-dark mb-3" style="width: 20rem;">
                    <div class="card-header">{{ project.name }}</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-white bg-dark">
                                {% if project.clients is defined %}
                                    Clientes:
                                    <span class="badge badge-primary badge-pill">
                                        {{ project.clients | length }}
                                    </span>
                                {% else %}
                                    Clientes: <span class="badge badge-primary badge-pill">0</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item text-white bg-dark">
                                {% if project.assets is defined %}
                                    Assets: 
                                    <span class="badge badge-primary badge-pill">
                                        {{ project.assets | length }}
                                    </span>
                                {% else %}
                                    Assets: <span class="badge badge-primary badge-pill">0</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="/projects/{{project.name}}">Ver</a>
                        <button type="button" class="btn btn-danger" onclick="delProject('{{ project.id }}')">Eliminar</a>
                     </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Create Project Modal -->
<div class="modal fade" id="CreateProjectModal" tabindex="-1" role="dialog" aria-labelledby="CreateProjectModalTitle" aria-hidden="true">
    <div id="project-form" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Crear nuevo proyecto.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="project_form_content"></div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/projects/projects.js') }}"></script>

{% endblock %}
